<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signInModalLabel">Log In to TaskSync</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/auth/sign-in" method="POST">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" class="form-control" required />

                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" required />

                    <button type="submit" class="btn btn-warning w-100 mt-3">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>