<!-- Modal for Create Task Form -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTaskModalLabel">Create a New Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createTaskForm" action="/users/<%= user._id %>/projects/<%= project._id%>/tasks" method="POST"
          class="needs-validation" novalidate>

          <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea id="description" name="description" class="form-control"></textarea>
          </div>

          <div class="mb-3">
            <label for="priority" class="form-label">Priority:</label>
            <select id="priority" name="priority" class="form-select" required>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="dueDate" class="form-label">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="assignedTo" class="form-label">Assigned To:</label>
            <select name="assignedTo" id="assignedTo" class="form-select">
              <% users.forEach(user=> { %>
                <option value="<%= user._id %>">
                  <%= user.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="mb-3">
            <label for="status" class="form-label">Task Status:</label>
            <select id="status" name="status" class="form-select" required>
              <option value="Not Started">Not Started</option>
              <option value="In Progress">In Progress</option>
              <option value="Completed">Completed</option>
            </select>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Task</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>