<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- bootstrap -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>Add a new project</title>
</head>

<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>Add a new Project</h1>
    <form action="/users/<%= user._id %>/projects" method="POST">

        <label for="name">Project Name: </label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description: </label>
        <textarea name="description" id="description"></textarea>

        <label for="teamMembers">Team Members</label>
        <select name="teamMembers" id="teamMembers" multiple>
            <% users.forEach(user=> { %>
                <option value="<%= user._id %>">
                    <%= user.name %>
                </option>
                <% }) %>
        </select>
        <button type="submit">Create Project</button>
    </form>

     <!-- bootstrap -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>